daemonize
ignore-empty-password
show-failed-attempts
show-keyboard-layout
indicator-caps-lock
scaling=fill
font=@fontName@
font-size=@fontSize@
inside-color=@base01@
inside-clear-color=@base0A@
inside-caps-lock-color=@base0E@
inside-ver-color=@base0D@
inside-wrong-color=@base08@
layout-bg-color=@base01@
layout-border-color=@base0D@
layout-text-color=@base05@
line-color=@base01@
ring-color=@base0B@
ring-wrong-color=@base08@
ring-clear-color=@base0A@
text-color=@base05@
image=@wallpaper@
